.primary-button {
    background-color: #F8D164;
    color: #2f2c3d;
    border: none;
    padding: 0.3em 0.8em;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 0.9em;
}

.secondary-button {
    background-color: #c0c0c0;
    color: #2f2c3d;
    border: none;
    padding: 0.3em 0.8em;
    border-radius: 0.4rem;
    font-size: 0.9em;
}

.floating-add-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1em;
    right: 1em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border: none;
    background-color: #F8D164;
    color: #353143;
    box-shadow: #353143 0 0.1em 0.3em;
    transition: background-color 0.2s;
    transition: transform 0.2s ease-in-out;
}

.floating-add-button:hover {
    background-color: white;
    transform: scale(1.1);
}
