.centered-form-container {
    position: absolute;
    top: 4em;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 3em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    overflow-y: scroll;
}

.centered-form {
    padding: 1em;
    gap: 1em;
    text-align: center;
    background-color: #544f683a;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 0.8em;
    box-shadow: #353143 0 0.05rem 0.2rem;
}

.centered-form-field-container {
    text-align: left;
    padding: 4%;
}

.centered-form-field {
    margin-bottom: 1em;
}

.centered-form-field label {
    text-shadow: #353143 0 0.05em 0.2em;
    margin-bottom: 0.2em;
}

.centered-form-field textarea {
    min-height: 4em;
    max-height: 40vh;
    resize: none;
}

.centered-form-field input, .centered-form-field textarea {
    font-size: 0.8em;
    color: #353143;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    border: none;
}

.centered-form-field input:focus, .centered-form-field textarea:focus {
    outline: none;
}

.centered-form input[type='submit'] {
    box-shadow: #353143 0 0.05em 0.2em;
}

.show-password {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.show-password input {
    display: none;
}

.show-password label::before {
    position: absolute;
    right: 1.7em;
    content: '';
    width: 2.4em;
    height: 1.2em;
    border-radius: 0.6em;
    background-color: white;
}

.show-password label::after {
    position: absolute;
    right: 3em;
    margin-top: .1em;
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 0.6em;
    background-color: #353143;
    transition: transform 0.4s ease;
}

.show-password input[type="checkbox"]:checked + label::before {
    background-color: #F8D164;
}

.show-password input[type="checkbox"]:checked + label::after {
    transform: translateX(1.18em);
}

/**---ERRORS---*/

.error {
    text-align: center;
    width: 100%;
    color: #d21f1f;
    font-size: small;
}

.form-field-error {
    padding: 0.2em 0.4em;
    width: 100%;
    background-color: #b52424;
    font-size: 0.7em;
    border-radius: 0.2em 0.2em 0 0;
}

.centered-form-field .form-field-error + input, .centered-form-field .form-field-error + textarea {
    border-radius: 0 0 0.2em 0.2em;
    background-color: #c84141;
}

/**---ORIENTATION---*/

@media only screen and (orientation: portrait) {
    .centered-form {
        width: 90%;
    }

    .centered-form-field {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}

@media only screen and (orientation: landscape) {

    .centered-form {
        width: 60%;
    }

    .centered-form-field {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .centered-form-field input{
        grid-column: 2;
    }

    .centered-form-field label, .show-password label {
        grid-column: 1;
        margin-left: 1em;
    }

    .show-password label::before {
        margin-right: .2em;
        right: 2.4em;
    } 

    .show-password label::after {
        margin-right: .2em;
        right: 3.7em;
    }

    .centered-form-submit-button-container {
        width: 100%;
        display: flex;
        justify-content: end;
        padding-right: 1em;
        margin-right: 1.9em;
    }
}

/**---DESKTOP---*/
@media only screen and (min-width: 984px) and (orientation: landscape) {

    .centered-form {
        min-width: 600px;
        max-width: 900px;
    }

}