.centered-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 4em);
    overflow-Y: scroll;
}

.centered-form {
    margin: 4em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    align-items: center;
    justify-content: center;
    background-color: #544f683a;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 0.8em;
    box-shadow: #353143 0 0.05rem 0.2rem;
}

.centered-form-field {
    gap: 0.2em;
    text-shadow: #353143 0 0.05em 0.2em;
}

.centered-form-field input, .centered-form-field textarea {
    color: #353143;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    border: none;
}

.centered-form-field textarea {
    min-height: 4em;
    max-height: 40vh;
    resize: vertical;
}

.centered-form input[type='submit'] {
    margin-top: 1em;
    box-shadow: #353143 0 0.05em 0.2em;
}

.error {
    text-align: center;
    width: 100%;
    color: #d21f1f;
    font-size: small;
}

@media screen and (orientation: portrait) {
    .centered-form {
        min-width: 50%;
    }

    .centered-form-field {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}

@media screen and (orientation: landscape) {

    .centered-form-field {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .centered-form-field input{
        grid-column: 2;
    }

    .centered-form-field label{
        grid-column: 1;
    }

    .centered-form-submit-button-container {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-right: 1.9em;
    }
}