.centered-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    align-items: center;
    justify-content: center;
    background-color: #544f683a;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding: 1.5em;
    border-radius: 0.8em;
    box-shadow: #353143 0 0.05rem 0.2rem;
}

.centered-form-field {
    position: relative;
    width: 90%;
    gap: 0.2em;
    text-shadow: #353143 0 0.05em 0.2em;
}

.centered-form-field input {
    color: #353143;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    border: none;
}

.centered-form input[type='submit'] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    margin-top: 1em;
    padding: 0.3em 0.8em;
    background-color: #F8D164;
    color: #353143;
    border-radius: 0.4rem;
    box-shadow: #353143 0 0.05em 0.2em;
}

@media screen and (orientation: portrait) {
    .centered-form-container {
        height: 80%;
    }
    .centered-form {
        width: 50%;
    }

    .centered-form-field {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}

@media screen and (orientation: landscape) {
    .centered-form-container {
        height: 100%;
    }
    .centered-form {
        height: 60%;
    }

    .centered-form-field {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .centered-form-field input{
        grid-column: 2;
    }

    .centered-form-field label{
        grid-column: 1;
    }

    .centered-form-submit-button-container {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-right: 1.9em;
    }
}