  .loading-icon {
    z-index: 1;
    position: fixed;
    bottom: 0.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
    color: #F8D164;
  }

  .loading-icon i {
    font-size: 30px;
  }