  .loading-icon {
    z-index: 1;
    position: absolute;
    bottom: 2em;
    width: 100vw;
    text-align: center;
    opacity: 0;
    transform: translateY(2em);
    transition: opacity .4s ease-in-out;
    transition: transform .4s ease;
    color: #F8D164;
  }

  .loading-icon.show {
    transform: translateY(0);
    opacity: 1;
  }

  .loading-icon i {
    font-size: 2em;
  }