.post-profile-picture-frame{
    min-width: 2rem;
    min-height: 2rem;
    width: 2rem;
    height: 2rem;
}

.post-active {
    background-color: #fff;
    color: #353143;
}

.post-scroll-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    margin: 1em;
}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.post-cover-square {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #59627C;
    border-radius: 5px;
    position: relative;
}

.post-cover-disc {
    width: 100%;
    height: 100%;
    filter: opacity(0.65);
}

.post-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

.post-cover-art{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem white solid;
    min-width: 36vw;
    width: 36vw;
}

.post-author-name p{
    font-size: 0.9rem;
}

.post-author{
    display: flex;
    align-items: center;
}

.post-author-infos{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.post-author-infos p{
    margin: -2px;
}

.post-time-info p{
    font-size: 0.8rem;
    color: #98969F;
}

.post-infos a{
    text-decoration: none;
    color: #fff;
}

.post-profile-picture{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem white solid;
}

.post-song-title p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px 0px;
}

.post-interaction-button {
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
}

.post-interaction-button i {
    color: #fff;
}

.post-interaction-button-active i {
    color: #F8D164;
}

.post-description{
    font-size: 0.9rem;
    line-height: 1.4;
}

.post-song-progress-bar {
    width: 100%;
    height: 3px;
    background-color: lightgray;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin: 10px 0px;
}
  
.post-song-progress-bar-inner {
   height: 100%;
   background-color: #F8D164;
   width: 30%;
   transition: width 0.5s ease;
}

.post-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2E2A3C;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 5%;
}

.post-footer form {
    height: 100%;
}

.post-footer input {
    color: #353143;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    border: none;
    width: 70%;
    height: 100%;
}

.post-interaction-buttons {
    display: flex;
}
