.profile-picture-edit {
    z-index: 1;
    height: 8.6em;
    width: 8.6em;
    min-height: 8.6em;
    min-width: 8.6em;
    justify-self: center;
}

.edit-profile-form {
    margin-top: 7em;
    padding-top: 3em;
}

#file-selector {
    display: none;
}

.edit-profile-picture-filter {
    filter: brightness(0.5);
}

.edit-profile-picture-container {
    position: relative;
    bottom: 4em;
}

.edit-profile-picture-container em {
    font-size: x-large;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}

.edit-profile-picture-container .profile-picture-edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}