/*Move to buttons or to new component*/
.feed-scroll-nav-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 70px;
    border: 2px solid #707070;
    border-width: 2px;
    background-color: #98969F;
    color: white;
    text-decoration: none;
    margin: 3%;
    font-size: 1rem;
    padding: 2px;
    width: 22%;
}

/*Feed post snap*/
#feed {
}