.feed-scroll-nav-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 70px;
    border: 2px solid #707070;
    border-width: 2px;
    background-color: #98969F;
    color: white;
    text-decoration: none;
    margin: 3%;
    font-size: 1rem;
    padding: 2px;
    width: 22%;
}

.feed-profile-picture-frame{
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
}

.feed-active {
    background-color: #fff;
    color: #353143;
}

.feed-scroll-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed-post{
    margin: 1em;
}

.feed-post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.feed-cover-square {
    background-color: #59627C;
    border-radius: 5px;
    padding: 4%;
    position: relative;
}

.feed-cover-disc{
    width: 100%;
    height: 100%;
    background-color: #59627C;
    border-radius: 50%;
    filter: opacity(0.65);
}

.feed-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

.feed-cover-art{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem white solid;
    min-width: 36vw;
    width: 36vw;
}

.feed-author-name p{
    font-size: 0.9rem;
}

.feed-post-author-infos{
    display: flex;
    align-items: center;
}

.feed-author-infos{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.feed-author-infos p{
    margin: -2px;
}

.feed-time-info p{
    font-size: 0.8rem;
    color: #98969F;
}

.feed-post-infos a{
    text-decoration: none;
    color: #fff;
}

.feed-profile-picture{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem white solid;
}

.feed-post-song-title p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px 0px;
}

.feed-post-button{
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
}

.feed-post-button i {
    color: #fff;
}

.feed-active i {
    color: #F8D164;
}

.feed-post-description{
    font-size: 0.9rem;
    line-height: 1.4;
}

.feed-post-divider{
    border: none;
    border-top: 1px solid #817F8A;
    margin: 10px 0;
}

.feed-song-progress-bar {
    width: 100%;
    height: 3px;
    background-color: lightgray;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin: 10px 0px;
}
  
.feed-song-progress-bar-inner {
   height: 100%;
   background-color: #F8D164;
   width: 30%;
   transition: width 0.5s ease;
}

.post-comments-area{
    margin: 1em;
}

.comment-profile-picture-frame{
    min-width: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.2rem 0;
}

.post-comment-text{
    font-size: 0.8rem;
    line-height: 1.4;
}

.post-comment a{
    text-decoration: none;
    color: #fff;
}

.post-comment p{
    margin: 0;
}

.post-comment{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.7rem;
    margin: 1rem 0;
}
.post-comment-time{
    font-size: 0.8rem;
    color: #98969F;
}

