/*Feed post snap*/
#feed {
    height: calc(100vh - 4em);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#feed article.post {
    margin: 0;
    padding: 1.4em;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}