/*Feed post snap*/
#feed {
    height: calc(100vh - 4em);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}



#feed::-webkit-scrollbar {
    display: none;
}

#feed article.post {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1.4em;
    height: calc(100vh - 4em);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow: hidden;

}

#feed article.post .post-description {
    /**flex-grow: 1;*/
}

/**---BOTTOM-REACHED-ADVISE---*/
#feed article:last-child::after {
    text-align: center;  
    position: relative;
    top: 3em;
    content: "-";
    opacity: 0;
    font-size: small;
    width: 100%;
    color: white;
}