.scroll-nav-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 70px;
    border: 2px solid #707070;
    border-width: 2px;
    background-color: #98969F;
    color: white;
    text-decoration: none;
    margin: 3%;
    font-size: 1rem;
    padding: 2px;
    width: 22%;
}

.active {
    background-color: #fff;
    color: #353143;
}

.scroll-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    margin: 1em;
}

.post-header{
    display: flex;
    justify-content: flex-start;;
    align-items: center;
    gap: 1.5em;
}

.cover-square {
    width: 130px;
    height: 130px;
    background-color: #59627C;
    border-radius: 5px;
    padding: 4%;
    position: relative;
}

.cover-disc{
    width: 100%;
    height: 100%;
    background-color: #59627C;
    border-radius: 50%;
    filter: opacity(0.65);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

.cover-art{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem white solid;
    min-width: 36vw;
    width: 36vw;
}

.author-name p{
    font-size: 0.9rem;
}

.post-author-infos{
    display: flex;
    align-items: center;
}

.author-infos{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.author-infos p{
    margin: -2px;
}

.time-info p{
    font-size: 0.8rem;
    color: #98969F;
}

.post-infos a{
    text-decoration: none;
    color: #fff;
}

.profile-picture{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem white solid;
}

.post-song-title p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px 0px;
}

.post-button{
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
}

.post-button i {
    color: #fff;
}

.active i {
    color: #F8D164;
}

.post-description{
    font-size: 0.8rem;
    line-height: 1.4;
}

.post-divider{
    border: none;
    border-top: 1px solid #817F8A;
    margin: 10px 0;
}

.song-progress-bar {
    width: 100%;
    height: 3px;
    background-color: lightgray;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin: 10px 0px;
}
  
.song-progress-bar-inner {
   height: 100%;
   background-color: #F8D164;
   width: 30%;
   transition: width 0.5s ease;
}
