#profile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    margin: 1em;
}

#profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem white solid;
    min-width: 36vw;
    width: 36vw;
}

#profile-picture {
    width: 100%;
    height: 100%;
}

#username {
    overflow:hidden;
}

#profile-header > * {
    min-width: 0;
}

#user-side-infos {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-grow: 1;
}

#user-side-infos > * {
    min-width: 0;
}

#user-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-friend-button {
    border: none;
    border-radius: 0.4em;
    background-color: #F8D164;
}

#bio-section {
    margin: 1em;
}

#biography {
    padding-top: 0.4em;
}