.user-profile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    margin: 1em;
}

.profile-picture-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem white solid;
    min-width: 36vw;
    width: 36vw;
    height: 36vw;
}

.profile-picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-profile-username {
    overflow:hidden;
}

.profile-header > * {
    min-width: 0;
}

.user-profile-infos {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-grow: 1;
}

.user-side-infos > * {
    min-width: 0;
}

.user-profile-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-add-friend-button {
    border: none;
    border-radius: 0.4em;
    background-color: #F8D164;
}

.user-profile-biography {
    margin: 1em;
}