<IfModule mod_rewrite.c>

RewriteEngine On

#Remove trailing slash
RewriteRule ^(.*)/$ /$1 [L,R=301]

#Avoid recursion
RewriteCond %{REQUEST_URI} !/public
#Serve static files
RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
RewriteRule ^(.*)$ /public/index.php [L]

</IfModule>
